<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title>Cub Cadet - Where To Buy</title>
	<script>
	/* Modernizr 2.6.2 (Custom Build) | MIT & BSD
	 * Build: http://modernizr.com/download/#-history
	 */
	;window.Modernizr=function(a,b,c){function t(a){i.cssText=a}function u(a,b){return t(prefixes.join(a+";")+(b||""))}function v(a,b){return typeof a===b}function w(a,b){return!!~(""+a).indexOf(b)}function x(a,b,d){for(var e in a){var f=b[a[e]];if(f!==c)return d===!1?a[e]:v(f,"function")?f.bind(d||b):f}return!1}var d="2.6.2",e={},f=b.documentElement,g="modernizr",h=b.createElement(g),i=h.style,j,k={}.toString,l={},m={},n={},o=[],p=o.slice,q,r={}.hasOwnProperty,s;!v(r,"undefined")&&!v(r.call,"undefined")?s=function(a,b){return r.call(a,b)}:s=function(a,b){return b in a&&v(a.constructor.prototype[b],"undefined")},Function.prototype.bind||(Function.prototype.bind=function(b){var c=this;if(typeof c!="function")throw new TypeError;var d=p.call(arguments,1),e=function(){if(this instanceof e){var a=function(){};a.prototype=c.prototype;var f=new a,g=c.apply(f,d.concat(p.call(arguments)));return Object(g)===g?g:f}return c.apply(b,d.concat(p.call(arguments)))};return e}),l.history=function(){return!!a.history&&!!history.pushState};for(var y in l)s(l,y)&&(q=y.toLowerCase(),e[q]=l[y](),o.push((e[q]?"":"no-")+q));return e.addTest=function(a,b){if(typeof a=="object")for(var d in a)s(a,d)&&e.addTest(d,a[d]);else{a=a.toLowerCase();if(e[a]!==c)return e;b=typeof b=="function"?b():b,typeof enableClasses!="undefined"&&enableClasses&&(f.className+=" "+(b?"":"no-")+a),e[a]=b}return e},t(""),h=j=null,e._version=d,e}(this,this.document);
	</script>
	<link rel="stylesheet" href="/css/style.css">
	<style>

		html, body, .container { width: 100%; height: 100%; }
		body { padding: 0px; background: #eaeaea;	}
 		body.checkout { background-image: url(/img/bg-header.png); background-repeat: repeat-x; background-position: 0 0; } 
		.container {
			min-height: 1260px;
		}	
		.design {
			margin: 0px auto;
			width: 1202px;
			height: <%=@height%>px;
			background-color: #fff;
			background-image: url(/img/<%=@filename%>.png);
			background-repeat: no-repeat;
			background-position: center top;
		}	
		.design.loading {
			background-image: url(/img/loading.gif);
			background-position: center 200px;
		}
		#menu-wrap {
			width: 340px;
			height: 1260px;
			position: absolute;
			left: 0;
			top: 0;
			-webkit-transition: left .3s ease;
			   -moz-transition: left .3s ease;
			    -ms-transition: left .3s ease;
			     -o-transition: left .3s ease;
			        transition: left .3s ease;
		}
		#menu {
			position: absolute;
			left: 0;
			top: 0;
			width: 280px;
			height: 100%;
			background: #222;
		}
		#menu-wrap.closed { 
			left: -280px; 
			-webkit-transition: left .3s ease;
			   -moz-transition: left .3s ease;
			    -ms-transition: left .3s ease;
			     -o-transition: left .3s ease;
			        transition: left .3s ease;
		}
		#btn-menu {
			width: 44px;
			height: 40px;
			border-radius: 4px;
			background-color: #333;
			background: rgba(0,0,0,.5) url(/img/menu.png) no-repeat center center;
			position: absolute;
			left: 287px;
			top: 7px;
			text-indent: 9999px;
			display: block;
			border: none;
		}
		h2 { color: #888; font-size: 16px; line-height: 24px; margin-bottom: 10px; margin-left: 15px; }
		h3 { color: #777; font-size: 13px; line-height: 18px; margin-bottom: 10px; }
		ul { margin: 0; padding: 0; border-top: 1px solid #333; }
		li { list-style-type: none; border-bottom: 1px solid #333; }
		a { padding: 10px 15px; display: block; font-weight: normal; font-size: 14px; }
		a:link, a:visited, a:active, a:hover { color: #666; }
		a:hover { background: #333; }
		
	</style>
</head>
<body>
	<div class="container">
		<div class="overlay">
			<div id="menu-wrap" class="closed">
				<nav id="menu">
					<h2>Cub Cadet - Where To Buy Designs</h2>
					<ul id="toc">
						<li><a href="/01-default?h=2059">Results: Default View</a></li>	
						<li><a href="/01-categories-expanded?h=2059">Results: Categories Expanded</a></li>		
						<li><a href="/01-list-directions-form?h=2059">Results: Get Directions Form</a></li>		
						<li><a href="/01-list-text-form?h=2059">Results: Text Address Form</a></li>		
					</ul>
				</nav>	
				<button id="btn-menu">Menu</button>
			</div>
			<div class="design">
				<%= yield %>
			</div>
		</div>
	</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script>
$(function() { 
	var contentArea = $('.design');
	var menuWrap = $('#menu-wrap');

	if (Modernizr.history) {
    function progressiveLink(href) {
      $.get(href, function(data) {
        contentArea.html(data);
				contentArea.removeClass('loading');
      });
    }
		$('#toc a').on('click', function(e) {
			e.preventDefault();
			if ($(this).data('checkout') === true) {
				$('body').addClass('checkout');
			}else {
				$('body').removeClass('checkout');
			}
			contentArea.addClass('loading');
			var href = $(this).attr('href');
			window.history.pushState(null, null, href);
			progressiveLink(href);
			menuWrap.toggleClass('closed');
		});
		window.addEventListener('popstate', function(e) {
			progressiveLink(location.pathname);
		});
	}


	$('#btn-menu').on('click', function(e) {
		e.preventDefault();
		menuWrap.toggleClass('closed');
	});
});
</script>
</html>		